name: Generar CV PDF

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-cv:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: RenderCV Action
        uses: rendercv/action@main
        with:
          cv_file: Patrick_Pueblita_CV.yaml